[submodule "Dependencies/googletest"]
	path = Dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "Dependencies/SystemAbstractions"]
	path = Dependencies/SystemAbstractions
	url = https://github.com/rhymu8354/SystemAbstractions.git
[submodule "Dependencies/Json"]
	path = Dependencies/Json
	url = https://github.com/rhymu8354/Json.git
[submodule "Dependencies/Utf8"]
	path = Dependencies/Utf8
	url = https://github.com/rhymu8354/Utf8.git
